@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #96A4c2;
    --cor2: #485C70;
    --cor3: #2B4C6F;
}


body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--cor1);
    width: 100vw;
    text-align: justify;
    line-height: 1.5em;
}

header{
    background-color: var(--cor3);
    text-align: center;
    margin: auto;
    color: white;
    padding: 10px;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.485);
}

main{
    width: 930px;
    margin: auto;
}

section#dados{
    background-color: var(--cor3);
    color: white;
    min-width: 290px;
    max-width: 1000px;
    width: 450px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.485);
}

section#formacao{
    background-color: var(--cor3);
    color: white;
    width: 450px;
    min-width: 290px;
    max-width: 1000px;
    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.485);
    display: inline-block;

}

section#cursos{
    background-color: white;
    width: 450px;
    min-width: 290px;
    max-width: 1000px;
    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.485);
    display: inline-block;
}

section#experiencia{
    background-color: white;
    width: 400px;
    min-width: 290px;
    max-width: 1000px;
    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0, 0.485);
    background-position: right top;
}

section > ul{
    list-style-position: inside;
}

a{
    text-decoration: none;
    color: white;
    border: 1px solid #96A4c2;
    border-radius: 5px;
    padding: 1px;
}

a:hover{
    text-decoration: underline;
    background-color: var(--cor1);
    border-radius: 5px;
    padding: 2px
}


footer{
    text-align: center;
    margin: auto;
    padding: 8px;
    background-color: var(--cor3);
    color: white;
    border-radius: 5px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0, 0.485);
}

